:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: Overpass, sans-serif;
	--theme-font-family-heading: Poppins, sans-serif;
	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 16px;
	--theme-rounded-container: 8px;
	--theme-border-base: 1px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 255 255 255;
	--on-secondary: 255 255 255;
	--on-tertiary: 0 0 0;
	--on-success: 255 255 255;
	--on-warning: 0 0 0;
	--on-error: 255 255 255;
	--on-surface: 255 255 255;
	/* =~= Theme Colors  =~= */
	/* primary | #2c4c7f */
	--color-primary-50: 223 228 236; /* ⬅ #dfe4ec */
	--color-primary-100: 213 219 229; /* ⬅ #d5dbe5 */
	--color-primary-200: 202 210 223; /* ⬅ #cad2df */
	--color-primary-300: 171 183 204; /* ⬅ #abb7cc */
	--color-primary-400: 107 130 165; /* ⬅ #6b82a5 */
	--color-primary-500: 44 76 127; /* ⬅ #2c4c7f */
	--color-primary-600: 40 68 114; /* ⬅ #284472 */
	--color-primary-700: 33 57 95; /* ⬅ #21395f */
	--color-primary-800: 26 46 76; /* ⬅ #1a2e4c */
	--color-primary-900: 22 37 62; /* ⬅ #16253e */
	/* secondary | #1a338f */
	--color-secondary-50: 221 224 238; /* ⬅ #dde0ee */
	--color-secondary-100: 209 214 233; /* ⬅ #d1d6e9 */
	--color-secondary-200: 198 204 227; /* ⬅ #c6cce3 */
	--color-secondary-300: 163 173 210; /* ⬅ #a3add2 */
	--color-secondary-400: 95 112 177; /* ⬅ #5f70b1 */
	--color-secondary-500: 26 51 143; /* ⬅ #1a338f */
	--color-secondary-600: 23 46 129; /* ⬅ #172e81 */
	--color-secondary-700: 20 38 107; /* ⬅ #14266b */
	--color-secondary-800: 16 31 86; /* ⬅ #101f56 */
	--color-secondary-900: 13 25 70; /* ⬅ #0d1946 */
	/* tertiary | #ff3c9c */
	--color-tertiary-50: 255 226 240; /* ⬅ #ffe2f0 */
	--color-tertiary-100: 255 216 235; /* ⬅ #ffd8eb */
	--color-tertiary-200: 255 206 230; /* ⬅ #ffcee6 */
	--color-tertiary-300: 255 177 215; /* ⬅ #ffb1d7 */
	--color-tertiary-400: 255 119 186; /* ⬅ #ff77ba */
	--color-tertiary-500: 255 60 156; /* ⬅ #ff3c9c */
	--color-tertiary-600: 230 54 140; /* ⬅ #e6368c */
	--color-tertiary-700: 191 45 117; /* ⬅ #bf2d75 */
	--color-tertiary-800: 153 36 94; /* ⬅ #99245e */
	--color-tertiary-900: 125 29 76; /* ⬅ #7d1d4c */
	/* success | #15605A */
	--color-success-50: 220 231 230; /* ⬅ #dce7e6 */
	--color-success-100: 208 223 222; /* ⬅ #d0dfde */
	--color-success-200: 197 215 214; /* ⬅ #c5d7d6 */
	--color-success-300: 161 191 189; /* ⬅ #a1bfbd */
	--color-success-400: 91 144 140; /* ⬅ #5b908c */
	--color-success-500: 21 96 90; /* ⬅ #15605A */
	--color-success-600: 19 86 81; /* ⬅ #135651 */
	--color-success-700: 16 72 68; /* ⬅ #104844 */
	--color-success-800: 13 58 54; /* ⬅ #0d3a36 */
	--color-success-900: 10 47 44; /* ⬅ #0a2f2c */
	/* warning | #dd5d2e */
	--color-warning-50: 250 231 224; /* ⬅ #fae7e0 */
	--color-warning-100: 248 223 213; /* ⬅ #f8dfd5 */
	--color-warning-200: 247 215 203; /* ⬅ #f7d7cb */
	--color-warning-300: 241 190 171; /* ⬅ #f1beab */
	--color-warning-400: 231 142 109; /* ⬅ #e78e6d */
	--color-warning-500: 221 93 46; /* ⬅ #dd5d2e */
	--color-warning-600: 199 84 41; /* ⬅ #c75429 */
	--color-warning-700: 166 70 35; /* ⬅ #a64623 */
	--color-warning-800: 133 56 28; /* ⬅ #85381c */
	--color-warning-900: 108 46 23; /* ⬅ #6c2e17 */
	/* error | #F31651 */
	--color-error-50: 253 220 229; /* ⬅ #fddce5 */
	--color-error-100: 253 208 220; /* ⬅ #fdd0dc */
	--color-error-200: 252 197 212; /* ⬅ #fcc5d4 */
	--color-error-300: 250 162 185; /* ⬅ #faa2b9 */
	--color-error-400: 247 92 133; /* ⬅ #f75c85 */
	--color-error-500: 243 22 81; /* ⬅ #F31651 */
	--color-error-600: 219 20 73; /* ⬅ #db1449 */
	--color-error-700: 182 17 61; /* ⬅ #b6113d */
	--color-error-800: 146 13 49; /* ⬅ #920d31 */
	--color-error-900: 119 11 40; /* ⬅ #770b28 */
	/* surface | #818eb6 */
	--color-surface-50: 236 238 244; /* ⬅ #eceef4 */
	--color-surface-100: 230 232 240; /* ⬅ #e6e8f0 */
	--color-surface-200: 224 227 237; /* ⬅ #e0e3ed */
	--color-surface-300: 205 210 226; /* ⬅ #cdd2e2 */
	--color-surface-400: 167 176 204; /* ⬅ #a7b0cc */
	--color-surface-500: 129 142 182; /* ⬅ #818eb6 */
	--color-surface-600: 116 128 164; /* ⬅ #7480a4 */
	--color-surface-700: 97 107 137; /* ⬅ #616b89 */
	--color-surface-800: 77 85 109; /* ⬅ #4d556d */
	--color-surface-900: 63 70 89; /* ⬅ #3f4659 */
}
